<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona Tracker</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/js/myscript.js"></script>

</head>
<body ng-app="MyApp" ng-controller="MyCtrl">
    <div class="jumbotron para_div">

        <h1 class="text-center">{{title}}</h1>
        <p class="para text-center">

            Corona virus is a very very infectius.This site gives information about the confirmed ,active and death cases number.
        </p>
     <!---- all data -->   
     <div class="row">
         <div class="col-md-4">

            <div class="card">     
                          
                    <div class="card-body bg-warning text-white">
                        <h3>Confirmed cases</h3>
                        <h3>{{allData.confirmed.value}}</h3>
                    </div>              
             </div>
         </div>

         <div class="col-md-4">             
            <div class="card bg-success text-white">                               
                <div class="card-body">
                    <h3>Recovered cases</h3>
                    <h3>{{allData.recovered.value}}</h3>
              </div>
            </div>
         </div>           

         <div class="col-md-4">            
            <div class="card  bg-danger text-white">     
                          
                <div class="card-body">
                    <h3>Death cases</h3>
                    <h3>{{allData.deaths.value}}</h3>
                </div>              
        </div>
         </div>


         <!--Country input-->

         <input type="text" class="form-control form_style" placeholder="Enter country name"
         ng-model="country" ng-change="getCountryData()"
         >
        
         <!--Country data show-->
         <div class="container-fluid" ng-if="countryData">
         <h1 class="text-center country text-uppercase">{{country}} status</h1>
         <div class="row mt-4" >
            <div class="col-md-4">
   
               <div class="card">     
                             
                       <div class="card-body bg-warning text-white">
                           <h3>Confirmed cases</h3>
                           <h3>{{countryData.confirmed.value}}</h3>
                       </div>              
                </div>
            </div>
   
            <div class="col-md-4">             
               <div class="card bg-success text-white">                               
                   <div class="card-body">
                       <h3>Recovered cases</h3>
                       <h3>{{countryData.recovered.value}}</h3>
                 </div>
               </div>
            </div>           
   
            <div class="col-md-4">            
               <div class="card  bg-danger text-white">     
                             
                   <div class="card-body">
                       <h3>Death cases</h3>
                       <h3>{{countryData.deaths.value}}</h3>
                   </div>              
           </div>
            </div>
        </div>

     </div>
    </div>      
</body>
</html>